<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>@ViewData["Title"] - Final Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalAssignment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <!-- Navigation bar -->
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FinalAssignment</a> <!-- Brand link to home page -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <!-- Button for mobile view -->
                    <span class="navbar-toggler-icon"></span> <!-- Icon for the toggle button -->
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Collapsible navbar content -->
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Navigation links -->
                        <li class="nav-item">
                            <!-- Home link -->
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <!-- Privacy link -->
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <!-- Student link -->
                            <a class="nav-link text-dark" asp-area="" asp-page="/Student">Student</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Main content area -->
            @RenderBody() <!-- Placeholder for rendering the main content of the page -->
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <!-- Footer section -->
        <div class="container">
            &copy; 2024 - FinalAssignment - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>